<% content_for :title, I18n.t("books.index.title") %>
<div class="row">
  <div class="small-12 columns">
    <h1><%= I18n.t "books.index.title" %></h1>
    <% if @books.empty? %>
      <p><%= I18n.t "books.index.books_empty" %></p>
    <% else %>
      <ul>
        <% @books.each do |book| %>
          <li><%= link_to book.title, book_url(book.id) %></li>
        <% end %>
      </ul>
    <% end %>
    <%= link_to I18n.t("books.new.title"), new_book_url, class: "button" %>
  </div>
</div>
